.qualitybox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.qualitybox h1+p{
    font-size: 22px;
    width: 60%;
    text-align: center;
}

.qualities{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 20px;
}

.eachquality{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 33%;
    padding: 0 50px;
}

.eachquality h1{
    font-size: 70px;
    color: #e7f4fc;
}