.upperfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #678983;
    padding: 20px;
}

.upperfooter button{
    border: solid 2px white;
    padding: 10px;
    background-color: #678983;
    color: white;
    outline: none;
}

.lowerfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 100px;
    gap: 5%;
}

.lowerfooter div{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}
.lowerfooter div .socialmedfooter{
    display: flex;
    flex-direction: row;
}
.lowerfooter div span{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

.lowerfooter div img{
    width: 50px;
}
.lowerfooter .footerdesc{
    width: 40%;
}
.lowerfooter .footercontact{
    width: 40%;
}
footer a{
    color: black;
    text-decoration: none;
}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px;
    font-size: larger;
}

@media screen and (max-width: 900px){
    .upperfooter{
        padding: 10px;
        justify-content: baseline;
        
    }
    .upperfooter button{
        padding: 5px;
        font-size: 70%;
    }
    .upperfooter h1{
        font-size: 150%;
    }
    .lowerfooter{
        flex-direction: column;
        padding: 20px;
    }
    .lowerfooter div{
        width: 80%;
    }
    .lowerfooter .footerdesc{
        width: 80%;
    }
}