.introbox{
    text-align: center;
    margin: 150px auto;
    width: 65%;
}
.introbox h1{
    width: 80%;
    text-align: center;
    margin: 30px auto;
}
.introbox p{
    font-size:larger;
}

@media screen and (max-width: 800px){
 .introbox{
    width: 80%;
    margin: 80px auto;
 }
 .introbox h1{
    width: 80%;
 }

}

@media screen and (max-width: 800px){
    .introbox h1{
        font-size: 200%;
        width: 90%;
    }
}